html{
    overflow-y: initial !important;
}
* {
    font-family: Roboto, "Helvetica Neue", Arial, "Droid Sans", sans-serif;
}
body {
    margin: 0;
}
  
.app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    min-height: 100%;
  
    display: grid;
  
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 100vw;
  
    grid-template-areas:
      "header"
      "content"
      "footer";
}

label.blank-label::after{
    content: "\a0";
}
  
a.v-tab{
    text-decoration:none; 
}

a.v-tab:hover{
    text-decoration:none; 
}
  
  
  /* VALIDATION CSS */
.invalid-msg{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545 !important;
}
  
select.invalid-element,
input.invalid-element{
    border-color: #dc3545 !important;
}
  
select.invalid-element:focus,
input.invalid-element:focus{
    box-shadow: 0 0 0 0.2rem rgb(218 120 110 / 25%);
}
  
  
.no-outline-focus:focus{
    outline: 0px;
}
  
div.v-dialog.v-dialog--active.dialog{
    padding: 0px;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 0 0 black;
}
  
.containerPage{
      height: calc(100% - 60px);
      margin: 0.7rem 0px 0px 0rem;
}
  
.default_color_background tbody tr {
      background-color: white;
}

.v-data-footer__icons-before button{
    outline: 0px;
}
.v-data-footer__icons-after button{
    outline: 0px;
}
  
div.v-card.v-sheet div.v-window{
    background-color: #f7f7f7;
  }